<div class="offcanvas offcanvas-end bg-dark text-light" data-bs-scroll="true" tabindex="-1"
    id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="container">
        <div class="offcanvas-header">
            <img src="/assets/Kharidlow.png" alt="" width="50">
            <h4 class="offcanvas-title mx-2" id="offcanvasWithBothOptionsLabel">KharidLow</h4>
            <button type="button" class="btn-close btn-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <a href="/admin/manage/orders" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-box mx-2"></i>
                <span>Manage Order</span>
            </a>
            <a href="/admin/manage/customers" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-users mx-2"></i>
                <span>Manage Customer</span>
            </a>
            <a href="/admin/manage/products" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-rectangle-list mx-2"></i>
                <span>Manage Products</span>
            </a>
            <a href="/product/new" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-shirt mx-2"></i>
                <span>Add Products</span>
            </a>
            <a href="/admin/manage" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-chart-line mx-2"></i>
                <span>Dashboard</span>
            </a>
            <a href="/" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-globe mx-2"></i>
                <span>Go to Website</span>
            </a>
            <a href="/logout" class="sidebar-item d-flex align-items-center my-2">
                <i class="fa-solid fa-arrow-right-from-bracket mx-2"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</div>