<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 margin-auto">
                <div class="contact-content text-center">
                    <div class="footer-logo">
                        <img src="/assets/Kharidlow.png" alt="logo" class="kharidlow-logo" />
                        <img src="/assets/Kharidlow_text.png" alt="logo" />
                    </div>
                    <p>Quality Products at Unbeatable Prices – Empowering Your Business</p>
                    <div class="hr"></div>
                    <h6><a href="https://maps.app.goo.gl/ZQNdXgbmYStAj7Ho9">25-A/22 First Floor <br />
                            Main Pandav Road, Near Swarn cinema <br />
                            Delhi-110032</a></h6>
                    <h6>+91 79825 25575<span>|</span>+91 87007 11482</h6>
                    <h6><a href="/shipping-info" class="hover-effect">Shipping Policy</a></h6>
                    <h6><a href="/return-refunds" class="hover-effect">Return & Refund Policy</a></h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href="https://www.facebook.com/profile.php?id=61567249373423"><i
                                        class="fab fa-facebook social-icons"></i></a></li>
                            <li><a class="hover-target" href="https://www.instagram.com/kharidlow/"><i
                                        class="fab fa-instagram social-icons"></i></a></li>
                            <li><a class="hover-target" href="https://x.com/NitviFashion"><i
                                        class="fa-brands fa-x-twitter social-icons"></i></a></li>
                            <!-- <li><a class="hover-target" href="#"><i class="fab fa-linkedin social-icons"></i></a></li> -->
                            <li><a class="hover-target"
                                    href="https://www.youtube.com/channel/UCWQfOvg0vRTUMBjBBIkKDRw"><i
                                        class="fab fa-youtube social-icons"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="copyright">Copyright &copy; <span style="color: #e40c2c;">2024</span> All Rights Reserved.<br>
        <span class="pvdBy"><strong>Kharidlow,</strong> <span style="color: #5b3bea;">powered by</span><strong> Nitvi
                Fashion Pvt Ltd</strong></span>
    </div>
</footer>