<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid mx-5">
        <!-- Brand logo with image -->
        <a class="navbar-brand" href="/">
            <img src="/assets/Kharidlow.png" alt="Kharid Low Logo">
        </a>

        <div>
            <h5 class="brand-name" data-text="KharidLow">KharidLow&nbsp;</h5>
        </div>

        <!-- Toggler for mobile view -->
        <div class="cart-btn-section">
            <div class="cart-icon">
                <a href="/user/cart"><button type="button" class="btn text-white position-relative">
                        <!-- <i class="fa-brands fa-opencart fs-2"></i> -->
                        <i class="fa-solid fa-cart-shopping fs-2"></i>
                        <!-- <svg class="cart-svg-icon" width="40" height="50" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.31641 3.25C1.90219 3.25 1.56641 3.58579 1.56641 4C1.56641 4.41421 1.90219 4.75 2.31641 4.75H3.49696C3.87082 4.75 4.18759 5.02534 4.23965 5.39556L5.49371 14.3133C5.6499 15.424 6.60021 16.25 7.72179 16.25L18.0664 16.25C18.4806 16.25 18.8164 15.9142 18.8164 15.5C18.8164 15.0858 18.4806 14.75 18.0664 14.75L7.72179 14.75C7.34793 14.75 7.03116 14.4747 6.9791 14.1044L6.85901 13.2505H17.7114C18.6969 13.2505 19.5678 12.6091 19.8601 11.668L21.7824 5.48032C21.8531 5.25268 21.8114 5.00499 21.6701 4.81305C21.5287 4.62112 21.3045 4.50781 21.0662 4.50781H5.51677C5.14728 3.75572 4.37455 3.25 3.49696 3.25H2.31641ZM5.84051 6.00781L6.64807 11.7505H17.7114C18.0399 11.7505 18.3302 11.5367 18.4277 11.223L20.0478 6.00781H5.84051Z" fill="#ffffff"/>
<path d="M7.78418 17.75C6.81768 17.75 6.03418 18.5335 6.03418 19.5C6.03418 20.4665 6.81768 21.25 7.78418 21.25C8.75068 21.25 9.53428 20.4665 9.53428 19.5C9.53428 18.5335 8.75068 17.75 7.78418 17.75Z" fill="#ffffff"/>
<path d="M14.5703 19.5C14.5703 18.5335 15.3538 17.75 16.3203 17.75C17.2868 17.75 18.0704 18.5335 18.0704 19.5C18.0704 20.4665 17.2869 21.25 16.3204 21.25C15.3539 21.25 14.5703 20.4665 14.5703 19.5Z" fill="#ffffff"/>
</svg> -->

                    </button></a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <!-- Navbar content (collapsed in mobile view) -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Search bar centered -->
            <form action="/search" class="d-flex mx-auto search" role="search" style="width: 50%;">
                <input class="form-control rounded-pill search-input" type="search" name="searchTerm" placeholder="Search Tshirt, Shoes, Bags etc."
                    aria-label="Search">
                <button class="btn btn-light rounded-pill ms-2 search-btn" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <!-- Navbar links aligned to the right -->
            <ul class="navbar-nav">
                <li class="nav-item home">
                    <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> <span>Home</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-layer-group"></i><span>Categories</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/category/67190adb91ab551f459302a9">Under 99</a></li>
                        <li><a class="dropdown-item" href="/category/66fe840cc94255633c708a22">Women</a></li>
                        <li><a class="dropdown-item" href="/category/66fe842dc94255633c708a24">Men</a></li>
                        <li><a class="dropdown-item" href="/category/66fe8456c94255633c708a26">Bags</a></li>
                        <li><a class="dropdown-item" href="/category/66fe8456c94255633c708a27">Kids</a></li>
                        <li><a class="dropdown-item" href="/category/67ada5c220ff143ac9447d6e">Travel & Outdoor</a></li>
                        <li><a class="dropdown-item" href="/category/66fe8456c94255633c708a28">Footwear</a></li>
                        <li><a class="dropdown-item" href="/category/6716022ffd0469b96dce6970">Beauty & Health</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product"><i class="fa-solid fa-tag"></i> <span>New Arrival</span></a>
                </li>
                <% if (user) { %>
                    <% if(user.role==="admin" ) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/manage"><i class="fa-regular fa-user"></i>
                                <span>Admin</span></a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/orders"><i class="fa-solid fa-dolly"></i>
                                    <span>Orders</span></a>
                            </li>
                            <% } %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/account"><i class="fa-regular fa-user"></i>
                                        <span>Profile</span></a>
                                </li>
                                <li class="nav-item cart-for-small-screen">
                                    <a class="nav-link" href="/user/cart"><i class="fa-solid fa-cart-plus"></i>
                                        <span>Cart</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i> <span>Logout</span></a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/user/login"><i
                                                class="fa-solid fa-arrow-right-to-bracket"></i> <span>Login</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/user/register"><i class="fa-solid fa-user-plus"></i>
                                            <span>Register</span></a>
                                    </li>
                                    <% } %>
                                        <li class="nav-item">
                                            <a href="/user/cart" class="nav-link cart-btn"><button type="button"
                                                    class="btn text-white position-relative">
                                                    <!-- <i class="fa-brands fa-opencart fs-2"></i> -->
                                                    <i class="fa-solid fa-cart-shopping fs-2"></i>
                                                    <!-- <svg width="45" height="50" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.31641 3.25C1.90219 3.25 1.56641 3.58579 1.56641 4C1.56641 4.41421 1.90219 4.75 2.31641 4.75H3.49696C3.87082 4.75 4.18759 5.02534 4.23965 5.39556L5.49371 14.3133C5.6499 15.424 6.60021 16.25 7.72179 16.25L18.0664 16.25C18.4806 16.25 18.8164 15.9142 18.8164 15.5C18.8164 15.0858 18.4806 14.75 18.0664 14.75L7.72179 14.75C7.34793 14.75 7.03116 14.4747 6.9791 14.1044L6.85901 13.2505H17.7114C18.6969 13.2505 19.5678 12.6091 19.8601 11.668L21.7824 5.48032C21.8531 5.25268 21.8114 5.00499 21.6701 4.81305C21.5287 4.62112 21.3045 4.50781 21.0662 4.50781H5.51677C5.14728 3.75572 4.37455 3.25 3.49696 3.25H2.31641ZM5.84051 6.00781L6.64807 11.7505H17.7114C18.0399 11.7505 18.3302 11.5367 18.4277 11.223L20.0478 6.00781H5.84051Z" fill="#ffffff"/>
                            <path d="M7.78418 17.75C6.81768 17.75 6.03418 18.5335 6.03418 19.5C6.03418 20.4665 6.81768 21.25 7.78418 21.25C8.75068 21.25 9.53428 20.4665 9.53428 19.5C9.53428 18.5335 8.75068 17.75 7.78418 17.75Z" fill="#ffffff"/>
                            <path d="M14.5703 19.5C14.5703 18.5335 15.3538 17.75 16.3203 17.75C17.2868 17.75 18.0704 18.5335 18.0704 19.5C18.0704 20.4665 17.2869 21.25 16.3204 21.25C15.3539 21.25 14.5703 20.4665 14.5703 19.5Z" fill="#ffffff"/>
                            </svg> -->
                                                </button></a>
                                        </li>
            </ul>
        </div>
    </div>
</nav>

<!-- CSS to handle hover dropdown behavior -->
<style>
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
        /* Adjusts the dropdown alignment */
    }
</style>

<!-- Ajax call to get the cart count -->
<script>
    // async function updateCartCount() {
    //     try {
    //         const response = await fetch('/cart/count');
    //         if (response.ok) {
    //             const data = await response.json();
    //             document.getElementById('cart-count').innerText = data.count > 99 ? '99+' : data.count; // Display "99+" for counts over 99
    //         }
    //     } catch (error) {
    //         console.error('Error fetching cart count:', error);
    //     }
    // }

    // updateCartCount();
    // setInterval(updateCartCount, 10000);
</script>