<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Kharidlow</title>
    <link rel="icon" type="image/x-icon" href="assets/Kharidlow.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <style>
        body {
            background-color: #343a40;
            color: white;
        }

        .login-outer {
            margin-top: 50px;
            padding: 30px;
            border-radius: 10px;
            background-color: #495057;
            max-width: 400px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }

        h2 {
            margin-bottom: 30px;
        }

        .login-btn {
            background-color: #007bff;
            border: none;
        }

        .inp-txt {
            background-color: #0056b3;
        }

        .inp-txt {
            background-color: #6c757d;
            color: white;
        }

        .logo {
            height: 70px;
            text-align: center;
        }

        .logo img {
            height: 100%;
        }
    </style>
</head>

<body>

    <!-- include navbar -->
    <%- include("../partials/navbar.ejs") %>

        <div class="container login-outer mb-3">
            <div class="logo">
                <img src="assets/Kharidlow.png" alt="">
            </div>
            <h2 class="text-center">Login to Kharidlow</h2>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text inp-txt"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="Enter your username"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text inp-txt"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password"
                            required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary login-btn btn-block">Login</button>
                <div class="text-center mt-4">
                    <a href="#" class="text-white">Can’t remember your password? Reset it here!</a>
                </div>
                <div class="text-center mt-2">
                    <a href="/user/register" class="text-white">Start your journey with us! Register now!</a>
                </div>
            </form>
        </div>

        <%- include("../partials/footer.ejs") %>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>