<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Kharidlow</title>
    <link rel="icon" type="image/x-icon" href="/assets/Kharidlow.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        }

        .login-outer {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 40px;
            border-radius: 15px;
            background-color: #ffffff;
            max-width: 420px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        h3 {
            margin-bottom: 30px;
            color: #6241e6;
            font-weight: 700;
            text-transform: uppercase;
        }

        .login-btn {
            background-color: #6241e6;
            border: none;
            border-radius: 25px;
            transition: background-color 0.3s ease;
        }

        .login-btn:hover {
            background-color: #7e67da;
        }

        .inp-txt {
            background-color: #6241e6;
            color: white;
            border-radius: 50%;
        }

        .form-group label {
            font-weight: bold;
            color: #495057;
        }

        .logo {
            height: 60px;
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            height: 100%;
        }

        .form-control:focus {
            box-shadow: 0 0 5px #6241e6;
        }

        a {
            color: #6241e6;
            transition: ease-in-out 0.2s;
        }

        a:hover {
            color: #0056b3;
            font-weight: 600;
            text-decoration: underline;
        }

        /* Target the scrollbar */
        ::-webkit-scrollbar {
            width: 5px;
            height: 6px;
            background-color: #f1f1f1;
        }

        /* Handle of the scrollbar */
        ::-webkit-scrollbar-thumb {
            background-color: #856cea;
            border-radius: 10px;
        }

        /* Hover effect for the scrollbar handle */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #6241e6;
        }

        /* Change scrollbar corner when both horizontal and vertical scrollbars appear */
        ::-webkit-scrollbar-corner {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>

    <!-- include navbar -->
    <%- include("../includes/navbar.ejs") %>

        <div class="container login-outer">
            <div class="logo">
                <img src="/assets/Kharidlow.png" alt="Kharidlow Logo">
            </div>
            <h3 class="text-center">Login to Kharidlow</h3>
            <form id="loginForm" onsubmit="login(event);">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text inp-txt"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text inp-txt"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary login-btn btn-block">Login</button>
                <div class="text-center mt-4">
                    <a href="/forgetpassword">Can’t remember your password? Reset it here!</a>
                </div>
                <div class="text-center mt-2">
                    <a href="/user/register">Start your journey with us! Register now!</a>
                </div>
            </form>
        </div>

        <%- include("../includes/footer.ejs") %>

            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                function login(event) {
                    event.preventDefault();

                    const urlParams = new URLSearchParams(window.location.search);
                    const redirectUrl = urlParams.get('redirect');

                    const email = document.getElementById("email").value;
                    const password = document.getElementById("password").value;

                    $.ajax({
                        url: '/user/login',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            email: email,
                            password: password
                        }),
                        success: function (response) {
                            swal("Congratulations!", "You’ve successfully logged in!", "success").then(() => {
                                if (redirectUrl) {
                                    window.location.href = redirectUrl;
                                } else {
                                    window.location.href = '/';
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            const response = JSON.parse(xhr.responseText);
                            const errorMessage = response.message || "An unexpected error occurred.";
                            swal("Something wrong", errorMessage, "error");
                        }
                    });
                }
            </script>

</body>

</html>