.contact-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-area {
    border-bottom: 1px solid #353C46;
    padding: 15px 0;
    background: #07081b;
    color: #bbc3cf;
}

.contact-content p {
    font-size: 18px !important;
    margin: 5px 0 20px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    /* bottom: -30px; */
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #bbc3cf;
    font-size: 18px !important;
    font-weight: 400;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 10px;
}

.contact-social>ul {
    display: inline-flex;
}

.contact-social ul li a {
    color: #bbc3cf;
    display: inline-block;
    height: 16px;
    margin: 0 10px;
    padding-top: 9px;
    transition: all 0.3s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover,
.hover-effect:hover {
    color: #FAB702;
    /* color: #6241e6; */
}

.social-icons {
    font-size: 35px;
}

.contact-content img {
    max-width: 210px;
}

footer {
    background: #07081b;
    color: #bbc3cf;
}

footer div {
    padding: 20px 0;
    text-align: center;
}

.pvdBy {
    font-size: 1.2rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 250px;
}

.kharidlow-logo {
    width: 120px;
}

.margin-auto {
    margin: auto;
}

.play-store-icon {
    margin-top: 11px;
}

h6>a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 729px) {
    .contact-content p {
        font-size: 14px !important;
    }

    .contact-content h6 {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 435px) {
    .social-icons {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 312px) {
    .contact-social ul {
        display: flex !important;
        flex-direction: column !important;
    }
}