@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f9f9;
}

.product-card img {
    height: 200px;
    object-fit: cover;
}

.filter-sidebar {
    background-color: #f0f3f1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.filter-sidebar h5 {
    margin-bottom: 20px;
}

.product-card {
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart-btn {
    border-radius: 20px;
    background-color: #07081b !important;
    color: #fff !important;
}

.filter-btn {
    background-color: #6241e6;
}

.filter-btn:hover {
    background-color: #735eca;
}

.add-to-cart-btn:hover {
    /* background-color: #07081bdc !important; */
    background-color: rgb(98, 65, 230) !important;
}

.pagination a {
    margin: 0 5px;
}

.list-unstyled li a {
    text-decoration: none;
    color: #07081b;
    font-size: 1.1rem;
    font-weight: 600;
    transition: ease-in-out 0.15s;
}

.list-unstyled li a:hover {
    color: rgb(98, 65, 230);
}

.filter-sidebar-smallscreen {
    display: none;
}

.new-arrival {
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 2rem;
    color: #343a40;
}

.category-bar {
    margin-top: 4.38rem;
}

@media only screen and (max-width: 768px) {
    .filter-sidebar-bigscreen {
        display: none;
    }

    .filter-sidebar-smallscreen {
        display: block;
    }

    .new-arrival {
        margin-top: 0.5rem;
        margin-bottom: -0.3rem;
    }

    .category-bar {
        margin-top: 0.15rem;
    }
}

@media only screen and (max-width: 435px) {
    .add-to-cart-btn {
        margin-top: 2rem !important;
        padding: 0.2rem !important;
        font-size: 0.8rem !important;
    }

    .card-title {
        font-size: 1rem !important;
        margin: 0 !important;
    }

    .card-text {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .page-link {
        font-size: 0.6rem !important;
    }
}

@media only screen and (max-width: 379px) {
    .filter-content h5 {
        font-size: 1rem;
    }

    .filter-content h6 {
        font-size: 0.8rem;
    }

    .card-title {
        font-size: 0.87rem !important;
    }

    .product-card img {
        height: 160px;
        object-fit: cover;
    }
}